SERPER_API_KEY=your_serper_key_here
SERPER_COUNTRY=ug
SERPER_LANGUAGE=en
SERPER_MAX_SEARCHES=2500
SERPER_ENDPOINT=https://google.serper.dev/search
SERPER_TIMEOUT_SECONDS=30
SCRAPING_API_URL=
SCRAPING_API_KEY=
SCRAPING_API_KEY_HEADER=Authorization
SCRAPING_API_KEY_PREFIX=Bearer 
SCRAPING_TIMEOUT_SECONDS=30
PAGE_FETCH_CONCURRENCY=4